body{
    background-color: #8d5185;
    background-image: linear-gradient(315deg, #4a079c 10% , #6028a5 57%, #6c33b0 90% );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.nav-bar button{
    border: none;
    font-size: 200%;
    font-weight: 800;
    background-color: transparent;
    color: white;
}
button:hover{
    text-decoration: underline;
}
.container{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    box-shadow: 5px 5px 30px black;
    border-radius: 10px;
    height: 250px;
    width: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}
span{
    font-size: 300%;
    font-weight: 800;
    color: white;
    margin: 5px;
    margin-bottom: 50px;
    display: inline-block;
    text-align: center;
    position: relative;
}   
#hrs::after{
    content: "Hours";
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#min::after{
    content: "Minutes";
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#sec::after{
    content: "Seconds";
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#counter{
    display: none;
    margin: auto;
    position: absolute;
    bottom: 20px;
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:  500;
    font-size: 15px;
}
#counter:hover{
    text-decoration: none;
}